* {
    margin: 0;
}

#Cabecera {
    background: #A4CA39;
    color: white;
    padding: 2em 0 2em 0.8em;
    text-align: left;
}

.Grupo {
    border: 2px solid #E3E5E5;
    margin: 1.3em 0.8em;
    padding: 1em;
    background: #C2DAE7;
}

header {
    background: #3676B3;
    color: white;
    text-align: center;
}

nav {
    background: #27AA80;
    padding: 0.5em;
    float: left;
    width: 18%;
}

main {
    float: right;
    width: 75%;
    text-align: justify;
}

footer {
    clear: both;
    text-align: center;
}